pymongo==3.13.0
scrapy==2.9.0
txmongo==23.0.0
concurrent_log_handler==0.9.24
bs4==0.0.1
scrapy_pipeline_mongodb==0.0.7
beautifulsoup4~=4.12.2
twisted~=22.10.0
six~=1.16.0
boto3~=1.24.28
pandas~=1.5.3
requests~=2.31.0